<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />
  </head>

<body>
    <div class=titre>
        <h1>La laïcité, en aire publique et privée</h1>
      </div>
      <div class=transp>

    <h2>Nous allons voir comment les familles religieuses souhaitent intervenir sur les sujets <br>à propos des minorités ethniques et sociales,<br>et comment cela est perçu dans l'opinion publique.</h2>
    </div>

<div class="textedroite">
  <button class="cssbuttons-io-button" onclick="window.location.href='p2_legis.html';">Législatures autour de la laïcité
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" style = "margin: 20px 0px 0px 0px;"onclick="window.location.href='p2_insertion.html';">Insertion dans la société
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" style = "margin: 20px 0px 0px 0px;"onclick="window.location.href='p2_public.html';">Laïcité dans les lieux publics
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" style = "margin: 20px 0px 0px 0px;"onclick="window.location.href='../intro.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>

</body>