<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La loi du 9 Décembre 1905</h1>


    <ul>
      <li>Séparation de l'Eglise et de l'Etat: la république ne reconnaît aucun culte.</li>
    </ul>
    
<h3 class="content">
Cette loi assure la liberté de conscience, la liberté de culte et de leur exercice, et la non-discrimination entre les religions (en théorie).<br>
Cela signifie aussi la suppression du budget des cultes, le remplacement des lieux publics du culte par des associations culturelles, et des règles sur la propriété d’édifices culturels redéfinies.<br>
Or, l’Eglise catholique avait refusé d’appliquer cette loi lors de sa sortie.<br>
<br>
<u>Le Vatican rejette cette loi, violemment critiquée par le pape Pie X dans une lettre en Février 1906.</u><br>
Dans cette lettre est notamment rejetée l’idée d’associations culturelles.<br>
En France, certains partisans acceptent cette loi, d’autres la rejettent.<br>
</h3>

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p2.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button" onclick="window.location.href='p2_public.html';">Doutes sur l'application de la laïcité
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</div>

</body>