<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">Opinion publique et polémiques vis-à-vis de la laïcité</h1>

    <ul>
      <li>Polémiques récurrentes par rapport à  la laïcité:<br>
      Est-ce laïque de mettre des crèches avec Jésus dans des lieux publics, <br>
    de servir des repas sans porc dans les cantines..?</li>
    </ul>
    

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p2.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" onclick="window.location.href='p2_insertion.html';">Insertion dans la société
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>


</div>

</body>