<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">Doutes quant à l'application des principes laïques en France</h1>

<h3 class="content"> 
Certains doutent de l’application de la laïcité en France et certaines religions ont du mal à s’insérer avec la laïcité.<br>
C’est ce qui est à l’origine de débats par exemple autour du port du voile dans les lieux publics et privés,<br>
ou encore nous pouvons nous demander si c’est laïque de mettre des crèches avec Jésus dans des établissements scolaires.<br>
Cela remet en question les limites de l'application de la laïcité en France, et si elle est absolue ou relative.<br>
Nous pouvons aussi nous demander s'il n'y a pas des préférences en France, exemple: on interdit les signes musulmans mais on tolère les signes chrétiens.<br>
</h3>
    

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p2.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" onclick="window.location.href='../p3/p3.html';">Poursuivre -> Partie 3
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>


</div>

</body>