<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La religion au coeur des débats politiques</h1>

<h3 class="content"> 
Il arrive qu'on voie des religions au centre de débats politiques.<br>
Surtout pour l’islam (islamophobie): Vrai combat entre l’islam et l’extrême-droite.<br>
Certains membres de ce parti politique reprochent par exemple à l'islam de ne pas assez respecter les valeurs françaises,<br>
l'une des idées de ce parti étant le nationalisme.<br>
Par exemple, la communauté musulmane de Lyon avait appelé à faire barrage contre l’extrême-droite lors des présidentielles de 2022.<br>
La religion musulmane est victime de discriminations venant majoritairement de ce parti politique,<br>
souvent dû à des préjugés (L’islam est souvent et faussement lié au terrorisme).<br>
(Or, nous ne pouvons pas dire que ce parti est islamophobe. Nous pouvons uniquement souligner certains de leurs propos.)<br>
</h3>
    

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='../intro.html';">Retour au menu
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>

</body>