<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La religion et la politique</h1>

<h3 class="content">
  Religion et politique ont un but commun : résoudre le problème du vivre ensemble.<br>
  C’est pourquoi, même si elle est officiellement séparée de l’État, l’Église catholique affirme tout de même avoir une place dans la vie politique française.<br>
  C’est un thème que l’on retrouve d’ailleurs souvent dans les débats.<br>
Effectivement, certains débats politiques sont influencés par des croyances ou principes religieux,<br>
ou à l’inverse vont à l’encontre de ces principes religieux.<br>
En général, la neutralité religieuse peut être difficile à trouver pour certains sujets politiques.<br>
</h3>

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p3.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button" onclick="window.location.href='p3_discrim.html';">La religion au coeur des débats politiques
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</div>

</body>