<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La laïcité en France, en pratique</h1>

    <h3 class="content">
      Effectivement, malgré les textes officiels et l'Etat français qui est séparé de la religion, nous constatons en pratique des dérives de cette laïcité.<br>
      Par exemple, le port du voile à l'école ou l'installation de crèches dans certaines mairies remettent en question l'application de la laïcité.<br>
      Nous pouvons également citer le dénigrement et la stigmatisation de certaines religions comme l'islam alors qu'on ne dit presque rien du christianisme.<br>
    </h3>
    
 
    <div class="rightText">
        <button class="cssbuttons-io-button return" onclick="window.location.href='p6.html';">Retour
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
        <button class="cssbuttons-io-button" onclick="window.location.href='../intro.html';">Retour au menu
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
      
      
      </div>

</body>