<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La laïcité en France, en théorie</h1>

    <h3 class="content">
      Officiellement, la France est un pays laïque.<br>
      <u>“La France est une république laïque”, article premier de la Constitution de 1958</u><br>
      Cependant, il n'y a aucune définition juridique précise de la laïcité.<br>
      Nous pouvons donc constater des limites aux textes officiels.<br>
    </h3>
    
 
    <div class="rightText">
        <button class="cssbuttons-io-button return" onclick="window.location.href='p6.html';">Retour
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
        <button class="cssbuttons-io-button" onclick="window.location.href='p6_pratique.html';">En pratique
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
      
      
      </div>

</body>