<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">Les différentes représentations de la religion en France</h1>

    <h3 class="content">
    La religion occupe une très grande place en France, on la retrouve quotidiennement:<br>
    - à travers les croyants,<br>
    - les lieux et les symboles de culte qu’on peut apercevoir en public (sonnerie de cloches, églises ou mosquées au loin, personnes portant des signes religieux),<br>
    - mais aussi des villes qui tournent énormément autour de la religion.<br>   
    --- Exemple: Lourdes, étant l’un des principaux lieux de pèlerinage chrétien, base son économie autour de ce pèlerinage (plus d’une centaine d’hôtels, plein de commerces religieux).<br>
    Après tout, la longue histoire de la religion catholique en France, qui aurait débuté aux alentours du IIe siècle,<br>
    peut expliquer sa présence, plus marquée que celle des autres religions dans la société française.<br>
  </h3>
    
 
    <div class="rightText">
        <button class="cssbuttons-io-button return" onclick="window.location.href='p4.html';">Retour
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
        <button class="cssbuttons-io-button" onclick="window.location.href='p4_comparaison.html';">Comparaison
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
      
      
      </div>

</body>