<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
  <setion>
      <h1 class="title">L'intervention sur les minorités sociales, ethniques et l'immigration</h1>
    
      <div class=transp>
        <h2>Nous allons voir comment les familles religieuses souhaitent intervenir sur les sujets <br>à propos des minorités ethniques et sociales,<br>et comment cela est perçu dans l'opinion publique.</h2>
      </div>
  </setion>
      

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='../intro.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" onclick="window.location.href='p1_social.html';">Minorités sociales
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  
</div>
<div class="align-center">
    <img src="../../static/assets/min_social.jpg" alt="">
    <img src="../../static/assets/min_ethni.jpg" alt="">
</div>




</body>