<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">L'intervention sur les minorités ethniques et l'immigration</h1>

    <ul>
      <li>Les vagues migratoires et les minorités ethniques diffusent de nouvelles idéologies religieuses,<br>ce qui provoque chez l'Eglise catholique un sentiment d'insécurité.</li>
    </ul>
    
<h3 class="content">
Import et diffusions de religions et d’idéologies religieuses de la part d’autres régions:
<ul>
  <li style="font-size:15pt;">
Les personnes ayant immigré de pays possédant d’autres cultures ou d’autres religions majoritaires peuvent former des communautés en France,<br>
et continuer à pratiquer leur religion sur le territoire.<br>
Ces religions peuvent ensuite se diffuser à une plus grande échelle, à travers les enfants des immigrants, ou un élargissement des communautés.<br>
  </li>
  <li style="font-size:15pt;">
    Or, les idéologies religieuses externes ne se transmettent pas que par l’immigration directe.<br>
    Effectivement, des minorités ethniques (et même parfois des personnes caucasiennes) nées en France peuvent pratiquer des religions autres que le christianisme,<br>
    une des causes est l’éducation des parents, la transmission des valeurs familiales, mais aussi la transmission de valeurs d’un groupe plus large, comme de la famille plus lointaine ou des amis.<br>
  </li>
</ul>
<br>
D’un autre côté, les chrétiens craignent de voir “leur culture disparaître” face aux vagues migratoires,<br>
c’est pour ça qu’une partie d’entre eux tentent de se rapprocher des migrants, car certains migrants arrêtaient par exemple de fréquenter les églises.<br>
Les chrétiens avaient peur que les racines chrétiennes de la France soient abîmées.<br>
</h3>

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p1.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button" onclick="window.location.href='../p2/p2.html';">Poursuivre -> Partie 2
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>

</body>