<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">L'intervention sur les minorités ethniques et l'immigration</h1>

    <ul>
      <li>Minorités ethniques:<br>
       Import et diffusions de religions et d’idéologies religieuses de la part d’autres régions,<br> causant la diffusion d’idées parfois extrémistes (discriminations, aggressions / crimes encore plus graves, etc..)</li><br>
      <li>Les chrétiens:<br> 
      les chrétiens (religion dominante en France) craignent de voir “leur culture disparaître" face aux vagues migratoires</li> 
    </ul>
    

<div class="rightText">
  <button class="cssbuttons-io-button return" onclick="window.location.href='p1.html';">Retour
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button" onclick="window.location.href='p2/p2.html';">Poursuivre -> Partie 2
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>

</body>