<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
    <h1 class="title">La religion catholique au coeur du débat public</h1>

    <h3 class="content">
      Environ trois quarts de la population française estime que la religion est trop évoquée dans le débat public, tout en dénonçant une laïcité menacée.<br>
      Cette remise en question est causée par les débats et mouvements, souvent d’origine catholique, comme la Manif pour Tous (l’Eglise s’étant opposée au mariage pour tous).<br>
      <ul><li style="font-size:15pt;">Manif pour Tous: Principal collectif d’associations menant des manifestations d’opposition à la loi couvrant le mariage et l’adoption pour les couples de même sexe </li></ul>
      Nous pouvons nous demander si des personnes aussi influentes que des députés, membres de partis politiques devraient avoir le droit d’exprimer leur opinion religieuse en public.<br>
      Par exemple, François Fillon pouvait-il s’opposer à l’IVG (Interruption Volontaire de Grossesse) en avançant des arguments religieux en 2017 ?<br>
      <br>
      En outre, la religion chrétienne conserve une place dominante dans le débat public, étant souvent utilisée comme argument, notamment politique,<br>
      tandis que les autres religions comme l’islam se voient à l’inverse discriminées. <br>
    </h3>
    
 
    <div class="rightText">
        <button class="cssbuttons-io-button return" onclick="window.location.href='p5.html';">Retour
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
        <button class="cssbuttons-io-button" onclick="window.location.href='p5_islam.html';">Débat public et islam
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </div>
        </button>
      
      
      </div>

</body>