<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
        <h1 class="title">En quoi la religion influence t-elle le débat public en France <br>bien que nous 
            sommes dans une république laïque ? </h1>

<section class="sommaire">
  <h2>
    Sommaire 
  </h2>
  <ul>
      <li> Introduction </li>

      <li class="intro">Intervention des familles religieuses et leurs méthodes d'intervention sur:
          <ol>
              <li> Les minorités sociales, ethniques et l'immigration </li>
              <li> La laïcité même en public et les lieux de culte </li>
              <li> La politique et le gouvernement (la place de la religion)</li>
          </ol>

      <li class="intro">L'impact sur le débat public et l'avis, les réactions de la population:
        <ol>
            <li>La place actuelle de la religion dans notre société</li>
            <li>Le support de certains citoyens pour la religion</li>
            <li>D'autres citoyens contre la religion, ou pour une neutralité religieuse</li>
        </ol>
    </li>
    <li class="intro">Conclusion</li>
    <li class="intro">Sources, crédits</li>
  </ul>
</section>

<div class=rightText>
  <button class="cssbuttons-io-button" onclick="window.location.href='intro.html';"> <a href="intro.html" alt="">Voir l'introduction</a>
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>
</body>