<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
        <h1 class="title">L'impact sur le débat public et l'avis, les réactions de la population</h1>
      <div class=transp>  

    <h2 class="paragraph">Notre société s'est construite autour de la religion<br>
    Et bien qu'on ait la possibilité de s'en séparer, elle est encore souvent présente<br>
  lors des débats publics et de certaines relations et certains mouvements sociaux.</h2>
</div>

<section class="definition">
  <h2>Définitions:</h2>
    <ol class="intro">
      <li> <span class="wordDefinition">Agnostique :</span>Sceptique quant à l'existence d'un dieu.</li></ol>

</section>

<div class="rightText">

  <button class="cssbuttons-io-button return button-separator" onclick="window.location.href='intro.html';">Retour à l'introduction
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button button-separator" onclick="window.location.href='p4/p4.html';">Religion et société
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</div>


</body>