<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

<body>
    <div class=titre>
        <h1>Introduction</h1>
      </div>
      <div class=transp>  

    <h2> Dans nombre de sociétés, la place centrale des religions est largement reconnue, mais elle n'apparaît pas comme une évidence partout. <br> La question se pose de savoir si, dans les sociétés libérales et développées, la religion tient un rôle particulier <br> ou reste, au contraire, en marge de la vie collective.</h2>
</div>

<div class="textedroite">
  <button class="cssbuttons-io-button" onclick="window.location.href='p1/p1.html';">Poursuivre -> Partie 1
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <br>
  <button class="cssbuttons-io-button" onclick="window.location.href='p2/p2.html';">Poursuivre -> Partie 2
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
  <button class="cssbuttons-io-button" style = "margin: 20px 0px 0px 0px;"onclick="window.location.href='index.html';">Retour à l'index
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>
</div>
<div class="def">
  <h2>Définitions:</h2>
    <ol>
        <li><strong>Religion:</strong> Reconnaissance par l'être humain d'un principe supérieur de qui dépend sa destinée ; attitude intellectuelle et morale qui en résulte.</li>
        <li><strong>Débat Public:</strong> L'ensemble des éléments d'un sujet qui fait débat dans les médias et auprès du grand public, et entraîne des prises de position publiques.<br>syn: Débat dans la société</li>
        <li><strong>Laïcité:</strong> Principe de séparation de la société civile et de la société religieuse.</li>
    </ol>

</div>

</body>