<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
        <h1 class="title">L'intervention des familles religieuses en France</h1>
      <div class=transp>  

    <h2 class="paragraph">La Religion est à la fois séparée et proche de notre société<br>
    Nous allons voir dans cette permière partie comment la religion parvient à impacter la société<br>
  à travers ses interventions d'ordre social et politique.</h2>
</div>

<section class="definition">
  <h2>Définitions:</h2>
    <ol class="intro">
<li> <span class="wordDefinition">Laïcité :</span> Principe de séparation de la société civile et de la société religieuse.<br>
  Les 4 principes de la laïcité, Conseil Constitutionnel 21 février 2013 : <br>
  <ul>
    <li>
      le respect de toutes les croyances et l’égalité de tous les citoyens devant la loi sans distinction de religion;
  </li>
  <li>
    la garantie du libre exercice des cultes ;
</li>
<li>
  la neutralité de l’État;
</li>
<li>
  l’absence de culte officiel et de salariat du clergé.
</li>
  </ul>
</li>
    </ol>

</section>

<div class="rightText">

  <button class="cssbuttons-io-button return button-separator" onclick="window.location.href='intro.html';">Retour à l'introduction
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

  <button class="cssbuttons-io-button button-separator" onclick="window.location.href='p1/p1.html';">Minorités
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</div>


</body>