<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    <title>EMC</title>
    <link rel="stylesheet" href="../static/css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet"> 
  </head>

<body>
        <h1 class="title">Sources et Crédits</h1>
      <div class=transp>  

<h3 class="content">

- Recherches, rédaction, présentation:<br>
Noémie Lassalle & Lana Gomez,<br>
aide de Manon Clergeot et Anthony Urbanski (merci <3)<br>
- Développement du site:<br>
Noémie Lassalle<br>
- Intervention des familles religieuses et leurs méthodes d'intervention<br>
--- Minorités sociales<br>
https://www.la-croix.com/Debats/Femmes-LGBT-LEglise-peut-oppresser-dune-main-accueillir-lautre-2022-09-06-1201231937<br>
https://www.20minutes.fr/societe/3001011-20210317-mariage-tous-lgbt-chretiens-deplorent-eglise-catholique-refuse-encore-union-couples-gay<br>
https://www.marianne.net/societe/sondage-sur-l-homosexualite-un-gouffre-separe-les-musulmans-du-reste-de-la-population<br>
--- Minorités ethniques<br>
https://www.lefigaro.fr/vox/societe/2019/03/26/31003-20190326ARTFIG00041-confrontes-aux-migrants-comment-les-chretiens-passent-du-discours-aux-actes.php<br>
--- Laïcité, privé et public<br>
https://www.vie-publique.fr/fiches/271400-la-loi-du-9-decembre-1905-de-separation-des-eglises-et-de-letat<br>
https://fr.wikipedia.org/wiki/Loi_de_s%C3%A9paration_des_%C3%89glises_et_de_l%27%C3%89tat#Rejet_de_la_loi_par_le_Vatican<br>
https://www.lexpress.fr/societe/religion/pourquoi-la-laicite-fait-polemique-en-france_1755624.html<br>
https://www.conseil-constitutionnel.fr/nouveaux-cahiers-du-conseil-constitutionnel/problemes-contemporains-de-la-laicite-publique<br>
--- Politique et gouvernement<br>
https://france3-regions.francetvinfo.fr/auvergne-rhone-alpes/rhone/lyon/presidentielle-2022-on-est-les-premiers-vises-par-la-politique-de-marine-le-pen-la-communaute-musulmane-de-lyon-appelle-a-faire-barrage-a-l-extreme-droite-2527220.html<br>
https://eglise.catholique.fr/sengager-dans-la-societe/eglise-et-politique/<br>
- L'impact sur le débat public et l'avis, les réactions de la population<br>
--- La place actuelle de la religion dans notre société<br>
https://www.gouvernement.fr/rapport-des-francais-a-la-religion-et-aux-convictions-chiffres-cles<br>
https://fr.wikipedia.org/wiki/Histoire_du_christianisme_en_France<br>
https://fr.wikipedia.org/wiki/Religion_aux_%C3%89tats-Unis<br>
--- L’utilisation de la religion dans le débat public<br>
https://rmc.bfmtv.com/replay-emissions/les-grandes-gueules/place-de-la-religion-dans-le-debat-public-personne-ne-pense-aux-gens-qui-ne-vont-pas-a-l-eglise_AV-201703220259.html<br>
https://www.latribune.fr/opinions/tribunes/la-france-l-islam-et-le-debat-public-894289.html<br>
--- La France est-elle vraiment laïque?<br>
Vie-publique.fr<br>
https://www.conseil-constitutionnel.fr/nouveaux-cahiers-du-conseil-constitutionnel/problemes-contemporains-de-la-laicite-publique#:~:text=Le%20premier%20probl%C3%A8me%20de%20la,ne%20rel%C3%A8ve%20d'aucune%20%C3%A9vidence.<br>
- Fond d'écran utilisé: Noémie<br>
</h3>


</div>

<div class="rightText">

  <button class="cssbuttons-io-button return" onclick="window.location.href='index.html';">Retour à l'index
    <div class="icon">
      <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
    </div>
  </button>

</div>


</body>